*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
}
.main{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.contentHeader,
.contentBody,
.contentFooter{
    padding: 2.5rem;
}
.contentHeader{
    background-color: white;
}
.contentHeader h1,
.contentHeader h2{
    margin-bottom: 1.8rem;
}
.contentHeader h1{
    font-size: 2rem;
    color: hsl(179, 62%, 43%);
}
.contentHeader h2{
    color: hsl(71, 73%, 54%);
    font-size: 1.8rem;
}
.contentHeader p{
    font-size: 1.6rem;
    line-height: 2.7rem;
}
.contentBody{
    background-color: #2bb3b1;
}
.contentBody h3{
    font-size: 2rem;
    color: white;
}
.subContent p{
    color: white; 
}
.subContent p:first-child{
    margin-bottom: 0.6rem;
    font-size: 3rem;
}
.text{
    display: flex;
    align-items: center;
}
.subContent span{
    margin-left: 0.8rem;
    font-size: 1.5rem;
}

.contentBody p{
    font-size: 1.6rem;
}
.contentBody h3{
    margin-bottom: 2rem;
}
.contentFooter{
    color: white;
}
.contentFooter h4{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.contentFooter p{
    font-size: 1.4rem;
    line-height: 1.3;
}
.button{
    text-align: center;
    border: 1px solid hsl(71, 73%, 54%); 
    background-color: hsl(71, 73%, 54%);
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
@media only screen and (min-width: 475px) {
    .specialSection{
        display: flex;
        width: 100%;
    }
    .main{
        width: 70rem;
    }
    .contentHeader,
    .contentBody,
    .contentFooter{
        padding: 3.7rem;
    }
    .contentBody,
    .contentFooter{
        flex-grow: 1;
    }
    .subContent p:first-child{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .subContent span{
        font-size: 1.2rem;
        margin-left: 1.5rem;
        color: white;
    }
    .text{
        display: flex;
        align-items: center;
    }
  }






























.contentFooter{
    background-color: #4abebd;
}